/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/backgrounds
/public/images/blogs
storage
.idea
/public/images/avatars
/public/images/offers
/public/images/stores
/public/uploads
/composer.lock
/package-lock.json

