.font_11{
    font-size: 11px;
}
.font_12{
    font-size: 12px;
}
.font_13{
    font-size: 13px;
}
.font_14{
    font-size: 14px;
}
.font_15{
    font-size: 15px;
}
.font_16{
    font-size: 16px;
}
.font_19{
    font-size: 19px;
}
.font_21{
    font-size:21px;
}
.font_25{
    font-size: 25px;
}
.font_49{
    font-size: 49px;
}
.font_50{
    font-size: 50px;
}
.font_56{
    font-size: 56px;
}